/* Navbar configs */
.navbar{
  box-shadow: 0 4px 4px 0px rgba(0,0,0,0.40);
  width: 100%;
}

.topnav a{
    border-bottom: 3px solid transparent;
    text-align: center;
    display: block;
    
}

.topnav a:hover {
    border-bottom: 3px solid greenyellow;
  }
  
.topnav a.active {
    border-bottom: 3px solid gold;
  }

  /*Footer configs*/
.footer {
 margin-top: 40px;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: gray;
  text-align: center;
}

/* Carousel Responsivity*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.container{
  margin-top: 40px;
}